:root {
    --main_text_color: rgba(38, 20, 50, 1);
    --italics_text_color: rgba(108, 108, 108, 1);
    --underline_text_color: rgba(223, 223, 223, 1);
    --quote_text_color: rgb(86, 57, 137); //rgba(240, 42, 165, 1);
    --blur_tint_color: rgba(238, 234, 231, 1);
    --blur_tint_color_fill: rgba(238, 234, 231, 0.65);
    --chat_tint_color: rgba(238, 234, 231, 0);
    --user_mes_blur_tint_color: rgba(38, 38, 41, 0.3);
    --bot_mes_blur_tint_color: rgba(250, 247, 246, 0.05);
    --shadow_color: rgba(30, 30, 30, 1);
    --border_color: rgba(198, 198, 198, 0.82);

    --font-size-large: 16px;
    --font-size-medium: 14px;
    --font-size-small: 12px;
    --font-size-extra-small: 11px;
}